<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

          <form method="post" action="{% url 'authersave' %}" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="card-body">
                     <div class="form-group">
                       <label for="exampleInputEmail">Auther name</label>
                       <input type="text" class="form-control" id="examleInputEmail" name="authername">
                     </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">add</button>
                  </div>
                </div>
          </form>

</body>
</html>
{% endblock %}

