<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form method="post" action="{% url 'bookupdate' dataid=dat.id %}" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail">Book name</label>
                    <input type="text" class="form-control" id="exampleInputEmail" name="bname" value="{{ dat.Bookname }}">
                  </div>
                    <div class="form-group">
                    <label for="exampleInputEmail">Auther name</label>
                    <input type="text" class="form-control" id="eampleInputEmail" name="aname" value="{{ dat.Authname }}">
                  </div>

                  <div class="form-group" >
                    <label for="exampleInputEmail">Published date</label>
                    <input type="text" class="form-control" id="exapleInputEmai"  name="date" value="{{ dat.Pdate }}">
                  </div>
                 <div class="form-group" >
                    <label for="exampleInputEmail">Price</label>
                    <input type="text" class="form-control" id="exaplenputEmai"  name="price" value="{{ dat.Price }}">
                  </div>
                  <div class="form-group">
                     <label for="exampleInputEmail">About</label>
                     <input type="text" class="form-control" id="exampleInputEmai"  name="abt" value="{{ dat.About }}">
                  </div>
                    <div class="mb-3">
                       <label class="form-label">Image</label>
                        <input type="file" class="form-control" name="image" placeholder="Your Image" value="{{ dat.Image }}">
                    </div>
                    <div class="form_group form-default">
                                  <label class="form-label">Category</label>
                          <select  name="cat" class="form-control"value="{{ dat.Catname }}" >
                              {% for d in da %}
                              <option>{{d.Catname}}</option>
                              {% endfor %}
                          </select>
                    </div>
                      <div class="card-footer">
                            <button type="submit" class="btn btn-primary">add</button>
                      </div>
                </div>
        </form>

</body>
</html>
{% endblock %}

